/*--Variables--*/
.header-podcast {
  padding: 0px !important;
}
.header-podcast .elementor-column-wrap {
  padding: 0px !important;
}

.mt-category-podcast .name-post-type {
  color: #7A4C99;
  font-family: "Work Sans", sans-serif;
  font-weight: 600;
}
.mt-category-podcast .duration-podcast {
  font-family: "Work Sans", sans-serif;
  color: #7A4C99;
  font-weight: bold;
}
.mt-category-podcast .caption-target-podcast {
  top: 0;
  left: 0;
  height: 100%;
  background-color: rgba(122, 76, 153, 0.7);
  opacity: 0;
  transition: all 0.4s;
}
.mt-category-podcast .caption-target-podcast i {
  color: #ffd412;
  font-size: 3em;
}
.mt-category-podcast:hover .caption-target-podcast {
  opacity: 1;
}

.item-star {
  height: 500px;
  overflow: hidden;
  font-family: "Work Sans", sans-serif;
}
.item-star .img-item-star {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.item-star .caption {
  bottom: 0;
  left: 0;
  background-color: rgba(122, 76, 153, 0.7);
  color: white;
  width: 100%;
}
.item-star .caption::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 3px;
  background-color: #ffd412;
  transition: all 1s;
}
.item-star .caption .info {
  font-size: 0.9em;
}
.item-star .caption .info .title {
  font-weight: bold;
  font-size: 1.5em;
  color: white;
}
.item-star .caption .item-icon {
  transition: all 0.3s;
  font-size: 3em;
}
.item-star .caption:hover .item-icon {
  color: #ffd412;
  font-size: 3.5em;
}
.item-star .caption:hover::after {
  width: 100%;
}

@media (max-width: 480px) {
  .item-star {
    height: auto;
  }
  .item-star .img-item-star {
    height: auto;
  }
  .item-star .caption {
    position: relative !important;
    background-color: #7A4C99;
  }
  .item-star .caption .info .title {
    font-size: 1em;
  }
  .item-star .caption .item-icon {
    font-size: 2em;
    color: #ffd412;
  }
  .item-star .caption:hover .item-icon {
    font-size: 2em;
  }
}
#authors-podcast .slick-arrow {
  top: 100%;
}
#authors-podcast .slick-prev {
  left: 0;
}
#authors-podcast .slick-next {
  right: 0;
}
#authors-podcast .img-column {
  width: 150px;
  height: 150px;
}
#authors-podcast .title-author {
  font-size: 1.5em;
}
#authors-podcast .role {
  font-size: 1em;
}

.car-categories .slick-arrow {
  width: 45px;
  height: 45px;
  position: absolute;
  bottom: 0;
  border: none;
  border-top: 1px solid #7A4C99;
  border-radius: 50%;
  padding: 0.5em 1em;
  background-color: #fff;
  color: #7A4C99;
  z-index: 1;
  transition: all 0.4s linear;
}
.car-categories .slick-arrow:hover {
  background-color: #7A4C99;
  color: #fff;
}
.car-categories .slick-prev {
  left: 0;
}
.car-categories .slick-next {
  right: 0;
}

.item-cat {
  height: 300px !important;
  transform: scale(0.95);
  overflow: hidden;
}
.item-cat .img-cat {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.4s;
}
.item-cat .cat-caption {
  bottom: 0;
  left: 0;
  background-color: rgba(122, 76, 153, 0.8);
  color: white;
  text-align: center;
  width: 100%;
  padding: 1em;
  height: 70px;
  overflow: hidden;
  transition: all 0.4s;
}
.item-cat .cat-caption .sound-waves {
  opacity: 0;
  transition: all 0.4s;
}
.item-cat .cat-caption h5 {
  color: white;
  font-weight: 500;
  font-size: 1.5em;
}
.item-cat:hover .cat-caption {
  height: 100%;
}
.item-cat:hover .cat-caption .sound-waves {
  opacity: 1;
}
.item-cat:hover .img-cat {
  transform: scale(1.1);
}

.widget-podcast-cat .item-cat {
  height: 200px !important;
  transform: scale(1);
}

.bottom-header {
  padding: 0.5em 0;
}
.bottom-header .square-link {
  font-size: 1.3em;
  margin: 0.4em;
}
.bottom-header .img-brand {
  padding-left: 1em;
}

.type-logo-superior .box-logo {
  max-width: 100% !important;
}

/*--Titles--*/
.title-line-one {
  position: relative;
  padding-left: 5em;
}
.title-line-one::before {
  content: "";
  position: absolute;
  background-color: #7A4C99;
  width: 60px;
  height: 3px;
  top: 25%;
  left: 0;
}

.title-line-two {
  position: relative;
  padding-right: 5em;
}
.title-line-two::before {
  content: "";
  position: absolute;
  background-color: #ffd412;
  width: 60px;
  height: 3px;
  top: 25%;
  right: 0;
}

.title-line-tres {
  position: relative;
}
.title-line-tres::before {
  content: "";
  position: absolute;
  background-color: #7A4C99;
  width: 60px;
  height: 3px;
  top: 25%;
  right: 15%;
}
.title-line-tres::after {
  content: "";
  position: absolute;
  background-color: #7A4C99;
  width: 60px;
  height: 3px;
  top: 25%;
  left: 15%;
}
.title-line-tres.revista::before {
  right: 29%;
}
.title-line-tres.revista::after {
  left: 29%;
}

/*--Styles Grid Home--*/
.contenedor-grid {
  display: grid;
  grid-template-columns: 40% 1fr 1fr;
  grid-gap: 0.25em;
}
.contenedor-grid .principal-item {
  grid-row: 1/3;
}
.contenedor-grid .principal-item img {
  height: 600px !important;
}
.contenedor-grid .item {
  display: block;
  color: #ffffff;
  position: relative;
  overflow: hidden;
}
.contenedor-grid .item img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  transition: all 0.5s;
}
.contenedor-grid .item .gradient-grid {
  background: #7a4c99;
  background: linear-gradient(0deg, #7a4c99 10%, rgba(60, 58, 105, 0) 90%);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: flex-end;
}
.contenedor-grid .item .gradient-grid .content-grid {
  padding: 1em 1.5em;
  transform: translateY(30px);
  transition: all 0.4s;
}
.contenedor-grid .item .gradient-grid .content-grid .date {
  font-size: 0.75em;
  letter-spacing: 0.1em;
  transition: all 0.4s;
  color: #ffffff;
}
.contenedor-grid .item .gradient-grid .content-grid .title-grid {
  font-size: 1.5em;
  color: #ffffff;
}
.contenedor-grid .item .gradient-grid .content-grid .link-grid {
  color: #ffd412;
  opacity: 0;
  transition: all 0.4s;
  font-family: "Work Sans";
  font-weight: 400;
  font-size: 0.9em;
  letter-spacing: 0.05em;
}
.contenedor-grid .item .gradient-grid .content-grid .link-grid:hover {
  color: #fff;
}
.contenedor-grid .item .gradient-grid:hover .content-grid {
  transform: translatey(0px);
}
.contenedor-grid .item .gradient-grid:hover .link-grid {
  opacity: 1;
}
.contenedor-grid .item:hover img {
  transform: scale(1.2);
}
.contenedor-grid.grid-second {
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 1em;
}
.contenedor-grid.grid-second .item:nth-child(1) {
  grid-row: 1/3;
  grid-column: 1/3;
  height: 550px !important;
}
.contenedor-grid.grid-second .item:nth-child(1) img {
  height: 550px !important;
}
.contenedor-grid.grid-second .item:nth-child(4) {
  grid-column: 3/5;
  grid-row: 2/4;
  height: 550px !important;
}
.contenedor-grid.grid-second .item:nth-child(4) img {
  height: 550px !important;
}
.contenedor-grid.grid-second .item:nth-child(1) .social-newslatter, .contenedor-grid.grid-second .item:nth-child(4) .social-newslatter {
  position: absolute;
  bottom: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
  transform: translateX(-500px);
  transition: all 0.5s linear;
}
.contenedor-grid.grid-second .item:nth-child(1) .social-newslatter a:hover, .contenedor-grid.grid-second .item:nth-child(4) .social-newslatter a:hover {
  color: #ffd412;
}
.contenedor-grid.grid-second .item:nth-child(1) .gradient-grid, .contenedor-grid.grid-second .item:nth-child(4) .gradient-grid {
  align-items: center;
}
.contenedor-grid.grid-second .item:nth-child(1) .gradient-grid .content-grid, .contenedor-grid.grid-second .item:nth-child(4) .gradient-grid .content-grid {
  transition: all 0.5s linear;
  opacity: 0;
  transform: translateX(-500px);
  text-align: center;
}
.contenedor-grid.grid-second .item:nth-child(1) .gradient-grid .content-grid .category-grid, .contenedor-grid.grid-second .item:nth-child(4) .gradient-grid .content-grid .category-grid {
  display: none;
}
.contenedor-grid.grid-second .item:nth-child(1) .gradient-grid .content-grid .title-grid, .contenedor-grid.grid-second .item:nth-child(4) .gradient-grid .content-grid .title-grid {
  font-weight: 400;
  text-align: center;
  font-size: 2.2em;
}
.contenedor-grid.grid-second .item:nth-child(1) .gradient-grid .content-grid .text-grid, .contenedor-grid.grid-second .item:nth-child(4) .gradient-grid .content-grid .text-grid {
  color: #fff;
  margin-bottom: 1em;
}
.contenedor-grid.grid-second .item:nth-child(1) .gradient-grid .content-grid .link-grid, .contenedor-grid.grid-second .item:nth-child(4) .gradient-grid .content-grid .link-grid {
  opacity: 1;
}
.contenedor-grid.grid-second .item:nth-child(1):hover .content-grid, .contenedor-grid.grid-second .item:nth-child(4):hover .content-grid {
  transform: translateX(0px);
  opacity: 1;
}
.contenedor-grid.grid-second .item {
  height: 275px;
}
.contenedor-grid.grid-second .item:hover .social-newslatter {
  transform: translateX(0px);
}
.contenedor-grid.grid-second .item:nth-child(2), .contenedor-grid.grid-second .item:nth-child(3), .contenedor-grid.grid-second .item:nth-child(5), .contenedor-grid.grid-second .item:nth-child(6) {
  transition: all 0.4s linear;
}
.contenedor-grid.grid-second .item:nth-child(2):hover, .contenedor-grid.grid-second .item:nth-child(3):hover, .contenedor-grid.grid-second .item:nth-child(5):hover, .contenedor-grid.grid-second .item:nth-child(6):hover {
  -webkit-box-shadow: 0px 0px 7px 3px rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 0px 0px 7px 3px rgba(0, 0, 0, 0.24);
  box-shadow: 0px 0px 7px 3px rgba(0, 0, 0, 0.24);
}
.contenedor-grid.grid-second .item:nth-child(2) img, .contenedor-grid.grid-second .item:nth-child(3) img, .contenedor-grid.grid-second .item:nth-child(5) img, .contenedor-grid.grid-second .item:nth-child(6) img {
  display: none;
}
.contenedor-grid.grid-second .item:nth-child(2) .category-grid, .contenedor-grid.grid-second .item:nth-child(3) .category-grid, .contenedor-grid.grid-second .item:nth-child(5) .category-grid, .contenedor-grid.grid-second .item:nth-child(6) .category-grid {
  position: absolute;
  background-color: #7A4C99;
  color: #fff;
  padding: 0.2em 1em;
  border-radius: 50px;
  transition: all 0.4s;
  top: 10px;
  left: 20px;
}
.contenedor-grid.grid-second .item:nth-child(2) .category-grid:hover, .contenedor-grid.grid-second .item:nth-child(3) .category-grid:hover, .contenedor-grid.grid-second .item:nth-child(5) .category-grid:hover, .contenedor-grid.grid-second .item:nth-child(6) .category-grid:hover {
  background-color: #ffd412;
}
.contenedor-grid.grid-second .item:nth-child(2) .social-newslatter, .contenedor-grid.grid-second .item:nth-child(3) .social-newslatter, .contenedor-grid.grid-second .item:nth-child(5) .social-newslatter, .contenedor-grid.grid-second .item:nth-child(6) .social-newslatter {
  display: none;
}
.contenedor-grid.grid-second .item:nth-child(2) .gradient-grid, .contenedor-grid.grid-second .item:nth-child(3) .gradient-grid, .contenedor-grid.grid-second .item:nth-child(5) .gradient-grid, .contenedor-grid.grid-second .item:nth-child(6) .gradient-grid {
  background: #fff;
}
.contenedor-grid.grid-second .item:nth-child(2) .gradient-grid .content-grid .title-grid, .contenedor-grid.grid-second .item:nth-child(3) .gradient-grid .content-grid .title-grid, .contenedor-grid.grid-second .item:nth-child(5) .gradient-grid .content-grid .title-grid, .contenedor-grid.grid-second .item:nth-child(6) .gradient-grid .content-grid .title-grid {
  color: rgba(0, 0, 0, 0.87);
  font-weight: 400;
}
.contenedor-grid.grid-second .item:nth-child(2) .gradient-grid .content-grid .text-grid, .contenedor-grid.grid-second .item:nth-child(3) .gradient-grid .content-grid .text-grid, .contenedor-grid.grid-second .item:nth-child(5) .gradient-grid .content-grid .text-grid, .contenedor-grid.grid-second .item:nth-child(6) .gradient-grid .content-grid .text-grid {
  font-weight: 300;
}
.contenedor-grid.grid-second .item:nth-child(2) .gradient-grid .content-grid .link-grid, .contenedor-grid.grid-second .item:nth-child(3) .gradient-grid .content-grid .link-grid, .contenedor-grid.grid-second .item:nth-child(5) .gradient-grid .content-grid .link-grid, .contenedor-grid.grid-second .item:nth-child(6) .gradient-grid .content-grid .link-grid {
  color: #7A4C99;
}
.contenedor-grid.grid-second .item:nth-child(2) .gradient-grid .content-grid .link-grid:hover, .contenedor-grid.grid-second .item:nth-child(3) .gradient-grid .content-grid .link-grid:hover, .contenedor-grid.grid-second .item:nth-child(5) .gradient-grid .content-grid .link-grid:hover, .contenedor-grid.grid-second .item:nth-child(6) .gradient-grid .content-grid .link-grid:hover {
  color: #ffd412;
}
.contenedor-grid.category-grid {
  margin-bottom: 3em;
  grid-template-columns: 55% 1fr;
}
.contenedor-grid.category-grid .item:nth-child(1) {
  height: 550px;
  grid-row: 1/3;
}
.contenedor-grid.category-grid .item:nth-child(1) img {
  height: 550px;
}
.contenedor-grid.category-grid .item:nth-child(1) .title-grid {
  font-size: 1.5em !important;
}
.contenedor-grid.category-grid .item {
  height: 273px;
}
.contenedor-grid.category-grid .item .title-grid {
  font-size: 1.2em !important;
}

.target-grid {
  position: relative;
  display: flex !important;
  -webkit-box-shadow: 0px 9px 8px -8px rgba(0, 0, 0, 0.48);
  -moz-box-shadow: 0px 9px 8px -8px rgba(0, 0, 0, 0.48);
  box-shadow: 0px 9px 8px -8px rgba(0, 0, 0, 0.48);
  margin-bottom: 0.6em;
  min-height: 210px !important;
  transition: all 0.4s linear;
  background-color: #fff;
  border: none !important;
  max-height: 210px;
}
.target-grid:hover {
  -webkit-box-shadow: 0px 0px 20px -3px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 0px 0px 20px -3px rgba(0, 0, 0, 0.8);
  box-shadow: 0px 0px 20px -3px rgba(0, 0, 0, 0.8);
}
.target-grid:hover img {
  transform: scale(1.2);
}
.target-grid:hover .icon {
  background-color: #7A4C99;
  color: #fff;
}
.target-grid .header {
  position: absolute !important;
  left: 37%;
  top: 1.2em;
  width: 100%;
  z-index: 1;
}
.target-grid .category {
  background-color: #7A4C99;
  padding: 0.35em 0.8em;
  border-radius: 15px;
  font-family: "Work Sans", ans-serif;
  color: #fff;
  text-decoration: none;
  margin-right: 0.5em;
  transition: all 0.4s linear;
  z-index: 3;
}
.target-grid .category:hover {
  background-color: rgba(0, 0, 0, 0.87);
}
.target-grid .date {
  color: rgba(0, 0, 0, 0.87);
  text-decoration: none;
  font-family: "Work Sans", ans-serif;
  font-size: 0.9em;
}
.target-grid .date i {
  color: rgba(0, 0, 0, 0.38);
}
.target-grid .cont-post {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(255, 212, 18, 0.95);
  color: #7A4C99;
  height: 110px;
  width: 30px;
  font-family: "Work Sans", sans-serif;
  font-size: 1.7em;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  z-index: 1;
}

.link-target {
  position: absolute;
  width: 100%;
  height: 100%;
}

.img-target {
  margin-right: 1.2em;
  width: 35%;
  overflow: hidden;
}
.img-target img {
  width: 100%;
  height: 100% !important;
  object-fit: cover;
  transition: all 0.4s linear;
}

.content {
  margin-top: 4.2em;
  width: 60%;
  padding-right: 2em;
}
.content .title-target {
  font-weight: bold;
  font-size: 1.4em;
  margin-bottom: 0.8em;
  color: rgba(0, 0, 0, 0.87);
}
.content .description {
  font-size: 1em;
  color: rgba(0, 0, 0, 0.6);
}

.icon {
  background-color: #EAEAEA;
  max-width: 5%;
  min-width: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #7A4C99;
  transition: all 0.4s linear;
  text-decoration: none;
}

/*Style Carousel Variado - Cont*/
.slider-vertical {
  padding-bottom: 3em;
}
.slider-vertical .slick-prev {
  position: absolute;
  bottom: 0;
  left: 52%;
  border: none;
  border-top: 1px solid #7A4C99;
  border-radius: 50%;
  padding: 0.5em 1em;
  background-color: #fff;
  color: #7A4C99;
  transition: all 0.4s linear;
}
.slider-vertical .slick-prev:hover {
  background-color: #7A4C99;
  color: #fff;
}
.slider-vertical .slick-next {
  position: absolute;
  bottom: 0;
  left: 43%;
  border: none;
  border-bottom: 1px solid #7A4C99;
  border-radius: 50%;
  padding: 0.5em 1em;
  background-color: #fff;
  color: #7A4C99;
  transition: all 0.4s linear;
}
.slider-vertical .slick-next:hover {
  background-color: #7A4C99;
  color: #fff;
}

.car-columnistas.car-columnistas-page .slick-list {
  padding-left: 0px !important;
}
.car-columnistas .column-item {
  margin: 1em;
  border-radius: 7px;
  overflow: hidden;
  box-shadow: 1px 0px 10px 0px rgba(0, 0, 0, 0.23);
  text-align: center;
  transition: all 0.4s;
}
.car-columnistas .column-item:hover .img-column {
  transform: scale(1.05);
}
.car-columnistas .column-item:hover {
  box-shadow: 1px 0px 15px 0px rgba(0, 0, 0, 0.33);
}
.car-columnistas .column-item .cont-img-column {
  display: flex;
  justify-content: center;
  margin: 1.5em 0;
}
.car-columnistas .column-item .img-column {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  overflow: hidden;
  transition: all 0.4s linear;
}
.car-columnistas .column-item .title-author {
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  margin: 0;
}
.car-columnistas .column-item .role {
  font-family: "Work Sans", sans-serif;
  font-weight: 300;
  font-size: 1.2em;
}
.car-columnistas .column-item .car-second {
  margin-top: 2em;
  background: #7A4C99;
  position: relative;
}
.car-columnistas .column-item .link {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}
.car-columnistas .column-item .item {
  padding: 1em 1.5em;
  display: flex !important;
  text-align: left;
  align-items: center;
  overflow: hidden;
  position: relative;
}
.car-columnistas .column-item .item:hover .title-notice {
  color: #ffd412;
}
.car-columnistas .column-item .cont-img {
  padding-right: 0;
}
.car-columnistas .column-item .cont-img img {
  width: 55px;
  height: 65px;
  object-fit: cover;
  border: 1px solid #fff;
}
.car-columnistas .column-item .cont-text {
  padding-left: 1em;
}
.car-columnistas .column-item .cont-text .title-notice {
  font-family: "Work Sans", sans-serif;
  font-size: 1.1em;
  font-weight: 400;
  color: #fff;
  margin-top: 0.2em;
  transition: all 0.4s linear;
}
.car-columnistas .column-item .cont-text .date {
  color: #D8D8D8;
  font-family: "Work Sans", sans-serif;
  font-weight: 300;
  font-size: 0.85em;
}
.car-columnistas .column-item .cont-text .date i {
  margin-right: 0.5em;
}
.car-columnistas .slick-prev {
  position: absolute;
  top: 45%;
  left: -80px;
  border: none;
  border-left: 1px solid #7A4C99;
  border-radius: 50%;
  padding: 0.7em 1em;
  background-color: #fff;
  color: #7A4C99;
  transition: all 0.4s linear;
  z-index: 2;
}
.car-columnistas .slick-prev:hover {
  background-color: #7A4C99;
  color: #fff;
}
.car-columnistas .slick-next {
  position: absolute;
  top: 45%;
  right: -80px;
  border: none;
  border-right: 1px solid #7A4C99;
  border-radius: 50%;
  padding: 0.7em 1em;
  background-color: #fff;
  color: #7A4C99;
  transition: all 0.4s linear;
  z-index: 2;
}
.car-columnistas .slick-next:hover {
  background-color: #7A4C99;
  color: #fff;
}
.car-columnistas.car-columnistas-widget .img-column {
  width: 150px;
  height: 150px;
}
.car-columnistas.car-columnistas-widget .title-author {
  font-size: 1.2em;
}
.car-columnistas.car-columnistas-widget .role {
  font-size: 0.9em;
}
.car-columnistas.car-columnistas-widget .car-second .cont-img img {
  width: 40px;
  height: 50px;
}
.car-columnistas.car-columnistas-widget .car-second .title-notice {
  font-size: 0.9em;
}

/*Form Newsletter*/
.content-form-newsletter {
  display: flex;
}
.content-form-newsletter .form-group {
  padding: 0.5em;
  margin: 0;
}
.content-form-newsletter .form-group .form-control {
  background-color: transparent;
  border: 1px solid #fff;
  font-family: "Work Sans", sans-serif;
  color: #fff;
  margin: 0;
}
.content-form-newsletter .form-group .form-control::placeholder {
  color: #fff;
}
.content-form-newsletter .button-form {
  padding: 0.5em 0.2em;
}
.content-form-newsletter .button-form button {
  background-color: #7A4C99;
  border: 1px solid #7A4C99;
  color: #fff;
  height: 50px;
  width: 50px;
  transition: all 0.4s linear;
}
.content-form-newsletter .button-form button:hover {
  border-color: #fff;
  background-color: transparent;
}

.social-newslatter .nav-item .button-icon {
  color: #fff;
  transition: all 0.4s linear;
}
.social-newslatter .nav-item .button-icon:hover {
  color: #7A4C99;
}
.social-newslatter .nav-item .button-icon i {
  font-size: 1.3em;
}

/*Single Post*/
.post p {
  font-family: "Work Sans", sans-serif !important;
}

.sub-heading-section {
  padding: 17em 3em 3em 3em !important;
  background-position: top center !important;
}
.sub-heading-section h1 {
  font-size: 3.5em;
}
.sub-heading-section.opacity-layer::before {
  background: #7a4c99;
  background: linear-gradient(0deg, #7a4c99 10%, rgba(60, 58, 105, 0) 90%);
}

.breadcrumbs {
  color: #7A4C99;
  font-family: "Work Sans", sans-serif;
  margin-bottom: 2em;
}
.breadcrumbs a {
  color: #7A4C99;
  transition: all 0.4s linear;
}
.breadcrumbs a:hover {
  color: #ffd412;
}
.breadcrumbs .post {
  color: #3C4043;
}

.share-date-bar {
  padding: 0.3em 0.5em;
  font-family: "Work Sans", sans-serif;
  background-color: #F6F6F6;
  margin-bottom: 3em;
}
.share-date-bar .date-post {
  padding-left: 1em;
}
.share-date-bar .date-post i {
  margin-right: 0.4em;
}
.share-date-bar .date-post span {
  margin-right: 1.5em;
  color: rgba(0, 0, 0, 0.65);
}
.share-date-bar .share-links span {
  color: rgba(0, 0, 0, 0.65);
}
.share-date-bar .share-links .nav-item a {
  transition: all 0.4s;
}
.share-date-bar .share-links .nav-item a:hover {
  background-color: #7A4C99;
}
.share-date-bar .share-links .nav-item i {
  color: #fff;
}
.share-date-bar .share-links .facebook a {
  background-color: #4064AD;
}
.share-date-bar .share-links .twitter a, .share-date-bar .share-links .linkedin a {
  background-color: #0271AE;
}
.share-date-bar .share-links .pinterest a {
  background-color: #E00022;
}
.share-date-bar .share-links .mail a {
  background-color: #B00020;
}

.post-content {
  padding-right: 0 !important;
}

#wpb_widget-4, #wpb_widget_04-2, #wpb_widget_04-3, .sidebar-categories, .sidebar-podcast, .sidebar-single {
  margin: 0;
  padding: 0;
}
#wpb_widget-4 .widget, #wpb_widget_04-2 .widget, #wpb_widget_04-3 .widget, .sidebar-categories .widget, .sidebar-podcast .widget, .sidebar-single .widget {
  margin-bottom: 2em;
}
#wpb_widget-4 .widget-title, #wpb_widget_04-2 .widget-title, #wpb_widget_04-3 .widget-title, .sidebar-categories .widget-title, .sidebar-podcast .widget-title, .sidebar-single .widget-title {
  text-transform: uppercase;
  position: relative;
  padding-bottom: 0.7em;
  margin-bottom: 1em;
  font-size: 1.6em;
  font-weight: 500;
}
#wpb_widget-4 .widget-title::before, #wpb_widget_04-2 .widget-title::before, #wpb_widget_04-3 .widget-title::before, .sidebar-categories .widget-title::before, .sidebar-podcast .widget-title::before, .sidebar-single .widget-title::before {
  content: "";
  position: absolute;
  background-color: #7A4C99;
  width: 80px;
  height: 3px;
  bottom: 0;
  left: 0;
}
#wpb_widget-4 .widget_wpb_widget_02, #wpb_widget_04-2 .widget_wpb_widget_02, #wpb_widget_04-3 .widget_wpb_widget_02, .sidebar-categories .widget_wpb_widget_02, .sidebar-podcast .widget_wpb_widget_02, .sidebar-single .widget_wpb_widget_02 {
  border: 2px solid #7A4C99;
  padding: 1em 1em;
}

.widget_media_image {
  margin-top: 2em;
  border-top: 1px solid #D8D8D8;
  padding-top: 2em;
}
.widget_media_image img {
  width: 100%;
}

.author-link {
  font-family: "Work Sans", sans-serif;
  font-size: 1.1em;
  color: rgba(0, 0, 0, 0.85);
  padding-bottom: 3em;
}
.author-link img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}
.author-link .name {
  color: #7A4C99;
}

.art-relacionados {
  margin-top: 4em;
}
.art-relacionados h2 {
  font-size: 2em;
  position: relative;
  padding-left: 2.2em;
  margin-bottom: 2em;
}
.art-relacionados h2::before {
  content: "";
  position: absolute;
  width: 55px;
  height: 4px;
  background-color: #7A4C99;
  top: 50%;
  left: 0;
}
.art-relacionados .post-rel .img-cont {
  width: 100%;
  height: 180px;
  overflow: hidden;
}
.art-relacionados .post-rel .img-cont img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.4s linear;
}
.art-relacionados .post-rel h3 {
  font-size: 1em;
  margin-top: 1em;
  transition: all 0.4s linear;
}
.art-relacionados .post-rel .link-art {
  overflow: hidden;
}
.art-relacionados .post-rel .link-art:hover img {
  transform: scale(1.2);
}
.art-relacionados .post-rel .link-art:hover h3 {
  color: #7A4C99;
}

/*Widget Author*/
.post-sidebar {
  border: 1px solid #D8D8D8;
  display: flex;
  position: relative;
  margin-bottom: 0.7em;
  align-items: center;
}
.post-sidebar:hover img {
  transform: scale(1.1);
}
.post-sidebar:hover h3 {
  color: #7A4C99 !important;
}
.post-sidebar:hover .cont-content-post {
  transform: translateY(0);
}
.post-sidebar:hover .cont-content-post span {
  opacity: 1;
}
.post-sidebar .link-post-author {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.post-sidebar .cont-img-post {
  width: 30%;
  overflow: hidden;
}
.post-sidebar .cont-img-post img {
  width: 100%;
  height: 100px;
  object-fit: cover;
  transition: all 0.5s linear;
}
.post-sidebar .cont-content-post {
  transform: translateY(10px);
  width: 70%;
  padding: 0.5em;
  transition: all 0.5s linear;
}
.post-sidebar .cont-content-post h3 {
  font-size: 0.9em;
  color: rgba(0, 0, 0, 0.85);
  transition: all 0.4s linear;
}
.post-sidebar .cont-content-post span {
  font-family: "Work Sans", sans-serif;
  font-size: 0.9em;
  opacity: 0;
  transition: all 0.5s linear;
  color: #7A4C99;
}
.post-sidebar.popular-post {
  background-color: #FAFAFA;
  border: none;
  -webkit-box-shadow: 0px 9px 8px -8px rgba(0, 0, 0, 0.48);
  -moz-box-shadow: 0px 9px 8px -8px rgba(0, 0, 0, 0.48);
  box-shadow: 0px 9px 8px -8px rgba(0, 0, 0, 0.48);
  transition: all 0.4s linear;
}
.post-sidebar.popular-post:hover {
  -webkit-box-shadow: 0px 0px 10px -2px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0px 0px 10px -2px rgba(0, 0, 0, 0.7);
  box-shadow: 0px 0px 10px -2px rgba(0, 0, 0, 0.7);
}
.post-sidebar.popular-post .count-post {
  position: absolute;
  left: 0;
  background-color: rgba(255, 212, 18, 0.95);
  height: 100%;
  width: 20px;
  color: #7A4C99;
  font-family: "Work Sans", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
}

.top-footer .widget-title {
  text-transform: uppercase;
}
.top-footer .menu {
  padding: 0;
  list-style: none;
}
.top-footer .menu .nav-link {
  padding-left: 0;
}
.top-footer .menu .nav-link:hover {
  padding-left: 4px;
}
.top-footer .widget_media_image {
  border: none;
  margin: 0;
  padding: 0;
}
.top-footer .widget_media_image img {
  width: 60%;
}
.top-footer a {
  color: #ffd412;
  transition: all 0.4s linear;
}
.top-footer a:hover {
  color: #7A4C99;
}

.bottom-footer .social-nav .float-link {
  background-color: #fff;
  border: none;
  color: rgba(0, 0, 0, 0.38);
}
.bottom-footer .social-nav .button-icon {
  border-radius: 50%;
}
.bottom-footer .privacity a {
  color: #ffd412;
  transition: all 0.4s linear;
}
.bottom-footer .privacity a:hover {
  color: #7A4C99;
}

.nav-links .nav-previous, .nav-links .nav-next {
  max-width: 40%;
}

.breadcrumbs .current-item {
  color: #959595;
}

.entry-category h1 {
  font-size: 2.5em;
}
.entry-category .divider-subheader {
  border: 1px solid #cccccc;
  margin: 2em 0;
  opacity: 0.3;
}

.pagination-custom {
  padding: 1em;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
.pagination-custom .page-numbers {
  margin: 0.5em;
  font-family: "Work Sans", sans-serif;
  color: #252525;
  transition: all 0.3s;
}
.pagination-custom .page-numbers.current, .pagination-custom .page-numbers:hover {
  transform: scale(1.05);
  color: #7A4C99;
}

.sub-heading-section-autors {
  background-image: url("http://localhost/revista-liga/wp-content/uploads/2020/06/Rectangle-72-1.png");
  padding: 5em 2em 7em 2em;
  position: relative;
  background-attachment: fixed;
}
.sub-heading-section-autors::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
.sub-heading-section-autors .info-author {
  position: relative;
  align-items: center;
  width: 60%;
  margin: auto;
  z-index: 1;
}
.sub-heading-section-autors .info-author .img-profile {
  width: 40%;
}
.sub-heading-section-autors .info-author .img-profile img {
  border-radius: 50%;
  width: 280px;
  height: 280px;
  border: 3px solid #fff;
}
.sub-heading-section-autors .info-author .text-author {
  width: 60%;
}
.sub-heading-section-autors .info-author .text-author h3 {
  color: #fff;
  font-weight: 300;
}
.sub-heading-section-autors .info-author .text-author p {
  color: #fff;
}
.sub-heading-section-autors .info-author .text-author .social-links {
  margin-top: 1.5em;
  list-style: none;
  padding: 0;
}
.sub-heading-section-autors .info-author .text-author .social-links li {
  margin-right: 1em;
}
.sub-heading-section-autors .info-author .text-author .social-links li i {
  color: rgba(255, 212, 18, 0.8);
  font-size: 2em;
  transition: all 0.4s linear;
}
.sub-heading-section-autors .info-author .text-author .social-links li i:hover {
  color: #7A4C99;
}

.cont-author .target-grid {
  padding: 0 !important;
  max-width: 49% !important;
  margin: 0.5%;
}
.cont-author .title-line-one {
  padding-left: 2.5em;
  margin-bottom: 1.5em;
}
.cont-author .title-line-one::before {
  top: 15px;
}

/*Category*/
.content-category .post-filters-cont {
  background-color: #F2F2F2;
  padding: 1em;
  margin-bottom: 3em;
  display: flex;
  justify-content: space-between;
  font-family: "Work Sans", sans-serif;
}
.content-category .post-filters-cont .post-filters select {
  height: 30px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.32);
  color: rgba(0, 0, 0, 0.6);
  padding: 0 0.5em;
  margin-right: 0.5em;
}
.content-category .post-filters-cont .btn-filter {
  background-color: #7A4C99;
  color: #fff;
  border: 1px solid #7A4C99;
  border-radius: 5px;
  height: 30px;
}

/*Autor*/
.content-autor .post-filters-cont {
  background-color: #F2F2F2;
  padding: 1em;
  margin-bottom: 3em;
  display: flex;
  justify-content: space-between;
  font-family: "Work Sans", sans-serif;
}
.content-autor .post-filters-cont .post-filters select {
  height: 30px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.32);
  color: rgba(0, 0, 0, 0.6);
  padding: 0 0.5em;
  margin-right: 0.5em;
}
.content-autor .post-filters-cont .btn-filter {
  background-color: #7A4C99;
  color: #fff;
  border: 1px solid #7A4C99;
  border-radius: 5px;
  height: 30px;
}

/*Submenu*/
.item-submenu {
  position: absolute;
  z-index: 3;
  padding: 3em;
  background-color: rgba(0, 0, 0, 0.93);
  opacity: 1;
  display: none;
}
.item-submenu .art-relacionados {
  margin-top: 0;
}
.item-submenu .art-relacionados .title-item {
  color: #fff;
}
.item-submenu .art-relacionados .link-art:hover .title-item {
  color: #ffd412;
}
.item-submenu .art-relacionados .item {
  position: relative;
}
.item-submenu .art-relacionados .menu-category {
  background-color: #7A4C99;
  color: #fff;
  border-radius: 20px;
  padding: 0.05em 1em;
  position: absolute;
  top: 10px;
  z-index: 2;
  font-family: "Work Sans", sans-serif;
  font-size: 0.85em;
  left: 25px;
  transition: all 0.4s linear;
}
.item-submenu .art-relacionados .menu-category:hover {
  background-color: #ffd412;
  color: #7A4C99;
}

/*Widget Categories*/
.widget-img-cat {
  width: 100%;
  overflow: hidden;
  position: relative;
  height: 180px;
  display: inline-block;
  margin-bottom: 0.5em;
}
.widget-img-cat img {
  height: 180px;
  width: 100%;
  object-fit: cover;
  transition: all 0.4s;
}
.widget-img-cat:hover img {
  transform: scale(1.1);
}
.widget-img-cat .link-category {
  position: absolute;
  width: 100%;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  font-family: "Work Sans", sans-serif;
  text-transform: uppercase;
  font-size: 1.5em;
  font-weight: 700;
  transition: all 0.4s;
}
.widget-img-cat .link-category:hover {
  color: #ffd412;
}

/*Edition*/
.edition-post {
  padding-top: 2.5em;
  padding-bottom: 5em;
}
.edition-post .title-edition {
  font-size: 3em;
  border-bottom: 1px solid #D8D8D8;
  padding-bottom: 0.5em;
}
.edition-post .share-date-bar {
  margin-top: 2em;
}
.edition-post .edition-oters {
  margin-top: 4em;
}
.edition-post .edition-oters .title-line-one {
  padding-left: 2.7em;
}
.edition-post .edition-oters .title-line-one::before {
  top: 40%;
}
.edition-post .edition-oters .loop-edition {
  margin-top: 2em;
  display: flex;
}
.edition-post .edition-oters .loop-edition .item-edition {
  padding: 0.5em;
  width: 12.5%;
  overflow: hidden;
}
.edition-post .edition-oters .loop-edition .item-edition:hover img {
  transform: scale(1.1);
}
.edition-post .edition-oters .loop-edition .item-edition img {
  width: 100%;
  height: 120px;
  object-fit: cover;
  transition: all 0.4s linear;
}

.sticky-header {
  z-index: 3 !important;
}

.taxonomy-edition {
  padding: 0.5em;
}
.taxonomy-edition .cont {
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.39);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.39);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.39);
  height: 100%;
}
.taxonomy-edition .img-target {
  width: 100%;
  height: 250px;
  overflow: hidden;
}
.taxonomy-edition .img-target img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.4s linear;
}
.taxonomy-edition .link-target {
  z-index: 1;
}
.taxonomy-edition:hover img {
  transform: scale(1.1);
}
.taxonomy-edition:hover h4 {
  color: #7A4C99;
}
.taxonomy-edition h4 {
  transition: all 0.4s linear;
}
.taxonomy-edition .content {
  margin-top: 1em;
  text-align: center;
  width: 100%;
  padding: 0.5em;
}

.edition-footer a {
  margin-bottom: 1em;
}
.edition-footer .item-edition img {
  width: 100%;
  height: 140px;
  object-fit: cover;
}
.edition-footer .item-edition span {
  display: block;
  text-align: center;
  font-family: "Work Sans", sans-serif;
  color: #ffffff;
  transition: all 0.4s linear;
}
.edition-footer .item-edition:hover span {
  color: #ffd412;
}

.modal-form {
  background-color: rgba(0, 0, 0, 0.65);
}
.modal-form .modal-dialog {
  max-width: 400px !important;
}
.modal-form .modal-dialog .modal-body {
  padding: 0 !important;
}
.modal-form .modal-dialog .modal-content {
  background-color: transparent;
}
.modal-form .modal-dialog .modal-content p {
  color: #fff;
  margin-bottom: 2em;
}
.modal-form .modal-dialog .modal-content .form-control {
  height: 55px;
  font-family: "Work Sans", sans-serif;
  padding: 0 0.8em;
}
.modal-form .modal-dialog .modal-content .cont-button {
  text-align: right;
}
.modal-form .modal-dialog .modal-content .cont-button .button-modal-form {
  background-color: #7A4C99;
  color: #ffffff;
  border: none;
  transition: all 0.4s linerar;
  border-radius: 7px;
  padding: 0.9em 2em;
}
.modal-form .modal-dialog .modal-content .cont-button .button-modal-form:hover {
  background-color: #ffd412;
}
.modal-form .modal-dialog .modal-content .cont-button span {
  display: block;
}

.comunidad-form {
  background-color: rgba(0, 0, 0, 0.65);
}
.comunidad-form .modal-dialog {
  max-width: 650px !important;
}

#modalSearch .form-control {
  border-radius: 5px !important;
}
#modalSearch .button-master {
  margin-left: 0.4em !important;
  background-color: #7A4C99;
  color: #fff;
  transition: all 0.4s;
  border-radius: 5px;
}
#modalSearch .button-master:hover {
  background-color: #ffd412;
  border-color: #ffd412;
}

.bottom-header .menu-item-344 {
  background-color: #7A4C99;
  border-radius: 7px;
  transition: all 0.4s linear;
  margin-right: 0.5em;
}
.bottom-header .menu-item-344:hover {
  background-color: #ffd412;
}
.bottom-header .menu-item-344 a {
  color: #fff !important;
}

.sticky-header .menu-item-344 {
  background-color: #ffd412;
}
.sticky-header .menu-item-344:hover {
  background-color: #7A4C99;
}

.comunidad-button {
  background-color: #7A4C99;
  padding: 0.7em 2em;
  color: #ffffff;
  border-radius: 7px;
  transition: all 0.4s linear;
  border: none;
  font-family: "Work Sans", sans-serif;
}
.comunidad-button:hover {
  background-color: #ffd412;
}

.widget_archive ul {
  list-style: none;
  padding: 0;
}
.widget_archive ul a {
  font-family: "Work Sans", sans-serif;
  color: rgba(0, 0, 0, 0.85);
  font-weight: 500;
  text-transform: capitalize;
  transition: all 0.4s linear;
}
.widget_archive ul a:hover {
  color: #7A4C99;
}
.widget_archive ul a i {
  color: #7A4C99;
  margin-right: 0.5em;
}

.nosotros-page .title-line-tres::after {
  left: 34%;
}
.nosotros-page .title-line-tres::before {
  right: 34%;
}

.move-section a {
  color: #7A4C99;
  font-size: 1.2em;
  border-bottom: 1px solid #7A4C99;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: inline-block;
  transition: all 0.4s linear;
}
.move-section a:hover {
  color: #ffd412;
  border-color: #ffd412;
}

#history-section .elementor-tabs-wrapper {
  display: table;
  width: 100%;
}
#history-section .elementor-tabs-wrapper .elementor-tab-title {
  text-align: center;
  border: none;
}
#history-section .elementor-tabs-wrapper .elementor-tab-title::after, #history-section .elementor-tabs-wrapper .elementor-tab-title::before {
  border: none;
}
#history-section .elementor-tabs-wrapper .elementor-tab-title.elementor-active {
  border-bottom: 2px solid #7A4C99;
  color: #7A4C99;
}
#history-section .elementor-tab-content {
  border: none;
  padding: 2em 0;
}
#history-section .elementor-tab-content .table-history {
  position: relative;
}
#history-section .elementor-tab-content .table-history img {
  width: 100%;
}
#history-section .elementor-tab-content .table-history p {
  position: absolute;
  top: 40%;
  width: 100%;
  text-align: center;
  padding: 2em;
  color: #fff;
}

.cookie-notice-container {
  font-family: "Work Sans", sans-serif;
}
.cookie-notice-container .cn-button, .cookie-notice-container .cn-close-icon {
  background-color: #7A4C99;
  transition: all 0.4s linear;
  opacity: 1;
}
.cookie-notice-container .cn-button:hover, .cookie-notice-container .cn-close-icon:hover {
  background-color: #ffd412;
}

@media (min-width: 768px) and (max-width: 1440px) {
  .target-grid .header {
    max-width: 325px;
  }
}
@media (max-width: 767.98px) {
  .title-line-one {
    padding-left: 3.2em;
  }
  .title-line-one::before {
    width: 40px;
  }

  .menu-item a i {
    display: none;
  }

  .contenedor-grid {
    display: block;
  }
  .contenedor-grid .principal-item {
    margin-bottom: 0.5em;
    height: 250px !important;
  }
  .contenedor-grid .principal-item img {
    height: 250px !important;
  }
  .contenedor-grid .item {
    margin-bottom: 0.5em;
    height: 250px !important;
  }
  .contenedor-grid .item .gradient-grid .content-grid {
    transform: translatex(0px);
  }
  .contenedor-grid .item .gradient-grid .content-grid .link-grid {
    opacity: 1;
  }

  .target-grid {
    margin: 1em 0.5em 0 0.5em;
    max-height: 600px;
  }
  .target-grid .header {
    left: 10px;
    top: 15px;
  }
  .target-grid .header .date {
    background-color: rgba(0, 0, 0, 0.83);
    color: #ffffff;
    padding: 0.5em 1em;
    border-radius: 20px;
  }
  .target-grid .header .date i {
    color: #fff;
  }
  .target-grid .img-target {
    width: 70%;
    height: 135px;
    margin-right: 1em !important;
  }
  .target-grid .img-target img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .target-grid .content {
    width: 100%;
    padding: 1em 1em 1em 0;
    margin-top: 1em;
    height: 120px;
  }
  .target-grid .content .title-target {
    font-size: 1em;
  }
  .target-grid .icon {
    max-width: 100%;
    background-color: #7A4C99;
    color: #ffffff;
  }
  .target-grid .cont-post {
    top: 95px;
    height: 40px;
    width: 40px;
  }

  .slider-vertical .slick-next {
    left: 55%;
    bottom: -1em;
    transform: rotate(-89deg);
  }
  .slider-vertical .slick-prev {
    left: 35%;
    bottom: -1em;
    transform: rotate(-89deg);
  }

  .car-columnistas .column-item {
    margin: 0.5em;
  }

  .title-line-tres::before, .title-line-tres::after {
    content: none;
  }

  .contenedor-grid.grid-second .item:nth-child(1) .content-grid, .contenedor-grid.grid-second .item:nth-child(4) .content-grid {
    transform: translatex(0) !important;
    opacity: 1 !important;
  }

  .contenedor-grid.grid-second .item .social-newslatter {
    transform: translatex(0) !important;
  }

  .contenedor-grid.grid-second .item:nth-child(2), .contenedor-grid.grid-second .item:nth-child(3), .contenedor-grid.grid-second .item:nth-child(5), .contenedor-grid.grid-second .item:nth-child(6) {
    -webkit-box-shadow: 0px 0px 7px 3px rgba(0, 0, 0, 0.24);
    -moz-box-shadow: 0px 0px 7px 3px rgba(0, 0, 0, 0.24);
    box-shadow: 0px 0px 7px 3px rgba(0, 0, 0, 0.24);
    margin: 1em 0;
  }

  .top-footer #media_image-3 img {
    width: 80%;
  }

  .float-buttons .nav-item .float-link {
    background-color: #ffffff;
    border: none;
    -webkit-box-shadow: 0px 0px 12px -1px rgba(0, 0, 0, 0.26);
    -moz-box-shadow: 0px 0px 12px -1px rgba(0, 0, 0, 0.26);
    box-shadow: 0px 0px 12px -1px rgba(0, 0, 0, 0.26);
  }

  .bottom-footer .social-nav {
    margin-top: 1em;
    justify-content: center !important;
  }

  .box-menu-nav-mobile {
    background-color: #7A4C99 !important;
    padding: 0 !important;
  }
  .box-menu-nav-mobile .box-logo {
    background-color: #ffffff !important;
    width: 100% !important;
    padding: 2em !important;
  }
  .box-menu-nav-mobile .box-menu-nav {
    padding: 2em !important;
  }
  .box-menu-nav-mobile .box-menu-nav .nav-link {
    color: #ffffff;
    font-family: "Work Sans", sans-serif;
  }

  .box-menu-nav-mobile .menu-item:nth-child(8) {
    border: none;
  }

  .content-form-newsletter {
    display: block;
  }
  .content-form-newsletter .button-form {
    padding: 0.5em;
  }
  .content-form-newsletter .button-form button {
    width: 100%;
  }

  .post-filters-cont {
    display: block !important;
  }
  .post-filters-cont .results {
    padding-bottom: 0.5em;
    text-align: center;
    border-bottom: 1px solid #b5b5b5;
  }
  .post-filters-cont .post-filters {
    margin-top: 1em;
  }
  .post-filters-cont .post-filters select {
    width: 100%;
    height: 40px !important;
    margin-bottom: 1em;
  }
  .post-filters-cont .post-filters .btn-filter {
    width: 100%;
    height: 40px !important;
  }

  .sub-heading-section {
    padding: 15em 1em 2em 1em !important;
  }
  .sub-heading-section h1 {
    font-size: 2em;
  }

  .share-date-bar.d-flex {
    padding: 1em;
    display: block !important;
  }
  .share-date-bar.d-flex .share-links.d-flex {
    border-top: 1px solid #b5b5b5;
    padding-top: 0.5em;
    display: block !important;
  }
  .share-date-bar.d-flex span {
    display: block;
    text-align: center;
  }

  .post-sidebar {
    margin-right: 0 !important;
  }

  .fb-comments iframe {
    margin: 2em 0;
  }

  .bar-second .share-links {
    border: none;
    display: block !important;
  }
  .bar-second .share-links ul {
    display: flex;
    justify-content: center;
  }
  .bar-second span {
    text-align: center;
    display: block;
  }

  .sub-heading-section-autors .info-author {
    display: block !important;
    width: 100%;
  }
  .sub-heading-section-autors .info-author .img-profile {
    width: 100%;
    text-align: center;
  }
  .sub-heading-section-autors .info-author .text-author {
    width: 100%;
    margin-top: 1em;
    text-align: center;
  }
  .sub-heading-section-autors .info-author .text-author .social-links {
    justify-content: center;
  }

  .cont-author .target-grid.col-md-6 {
    max-width: 95% !important;
    margin: auto;
    margin-bottom: 1em;
  }

  .bottom-footer .links-footer {
    margin-bottom: 1em;
  }
  .bottom-footer .privacity {
    margin: 1em 0;
  }

  #history-section .elementor-tabs-content-wrapper:nth-child(2) .elementor-tab-title {
    display: none;
  }
  #history-section .table-history p {
    top: 10% !important;
  }
}

/*# sourceMappingURL=custom-style.css.map */
