#authors-podcast
    .slick-arrow
        top: 100%
    .slick-prev
        left: 0
    .slick-next
        right: 0
    .img-column
        width: 150px
        height: 150px
    .title-author
        font-size: 1.5em
    .role
        font-size: 1em