.car-categories
    .slick-arrow
        width: 45px
        height: 45px
        position: absolute
        bottom: 0
        border: none
        border-top: 1px solid $p_color
        border-radius: 50%
        padding: .5em 1em
        background-color: #fff
        color: $p_color
        z-index: 1
        transition: all .4s linear
        &:hover
            background-color: $p_color
            color: #fff
    .slick-prev
        left: 0
    .slick-next
        right: 0
       

.item-cat
    height: 300px !important
    transform: scale(.95)
    overflow: hidden
    .img-cat
        width: 100%
        height: 100%
        object-fit: cover
        transition: all .4s
    .cat-caption
        bottom: 0
        left: 0
        background-color: rgba($p-color, .8)
        color: white
        text-align: center
        width: 100%
        padding: 1em
        height: 70px
        overflow: hidden
        transition: all .4s
        .sound-waves
            opacity: 0
            transition: all .4s
        h5
            color: white
            font-weight: 500
            font-size: 1.5em
    &:hover
        .cat-caption
            height: 100%
            .sound-waves
                opacity: 1
        .img-cat
            transform: scale(1.1)

.widget-podcast-cat
    .item-cat
        height: 200px !important
        transform: scale(1)
