// Subheader Podcast
.header-podcast
    padding: 0px !important
    .elementor-column-wrap
        padding: 0px !important
// Card Podcast
.mt-category-podcast
    .name-post-type
        color: $p-color
        font-family: 'Work Sans', sans-serif
        font-weight: 600
    .duration-podcast
        font-family: 'Work Sans', sans-serif
        color: $p-color
        font-weight: bold
    .caption-target-podcast
        top: 0
        left: 0
        height: 100%
        background-color: rgba($p_color, .7)
        opacity: 0
        transition: all .4s
        i
            color: $s_color
            font-size: 3em
    &:hover
        .caption-target-podcast
            opacity: 1

// PODCAST DESTACADO
.item-star
    height: 500px
    overflow: hidden
    font-family: $p-font
    .img-item-star
        width: 100%
        height: 100%
        object-fit: cover
    .caption
        bottom: 0
        left: 0
        background-color: rgba($p-color, .7)
        color: white
        width: 100%
        &::after
            content: ''
            position: absolute
            top: 0
            left: 0
            width: 0%
            height: 3px
            background-color: $s-color
            transition: all 1s
        .info
            font-size: .9em
            .title
                font-weight: bold
                font-size: 1.5em
                color: white
        .item-icon
            transition: all .3s
            font-size: 3em
        &:hover
            .item-icon
                color: $s-color
                font-size: 3.5em
            &::after
               width: 100%

@media (max-width: 480px)
    .item-star
        height: auto
        .img-item-star
            height: auto
        .caption
            position: relative !important
            background-color: $p-color
            .info
                .title
                    font-size: 1em
            .item-icon
                font-size: 2em
                color: $s-color
            &:hover
                .item-icon
                    font-size: 2em

