/*--Variables--*/
$p_color: #7A4C99
$s_color: #ffd412

$p-font: 'Work Sans', sans-serif

@import "podcast"
@import "author"
@import "car-categories"
//Header
.bottom-header
    padding: .5em 0
    .square-link
        font-size: 1.3em
        margin: .4em
    .img-brand
        padding-left: 1em

.type-logo-superior
    .box-logo
        max-width: 100% !important

/*--Titles--*/
.title-line-one
    position: relative
    padding-left: 5em
    &::before
        content: ''
        position: absolute
        background-color: $p_color
        width: 60px
        height: 3px
        top: 25%
        left: 0
.title-line-two
    position: relative
    padding-right: 5em
    &::before
        content: ''
        position: absolute
        background-color: $s_color
        width: 60px
        height: 3px
        top: 25%
        right: 0
.title-line-tres
    position: relative
    &::before
        content: ''
        position: absolute
        background-color: $p_color
        width: 60px
        height: 3px
        top: 25%
        right: 15%
    &::after
        content: ''
        position: absolute
        background-color: $p_color
        width: 60px
        height: 3px
        top: 25%
        left: 15%
    &.revista
        &::before
            right: 29%
        &::after
            left: 29%
/*--Styles Grid Home--*/
.contenedor-grid
    display: grid
    grid-template-columns: 40% 1fr 1fr
    grid-gap: .25em
    .principal-item
        grid-row: 1 / 3
        img
            height: 600px !important
    .item
        display: block
        color: #ffffff
        position: relative
        overflow: hidden
        img
            width: 100%
            height: 300px
            object-fit: cover
            transition: all .5s
        .gradient-grid
            background: rgb(122,76,153)
            background: linear-gradient(0deg, rgba(122,76,153,1) 10%, rgba(60,58,105,0) 90%)
            position: absolute
            top: 0
            left: 0
            height: 100%
            width: 100%
            display: flex
            align-items: flex-end
            .content-grid
                padding: 1em 1.5em
                transform: translateY(30px)
                transition: all .4s
                .date
                    font-size: .75em
                    letter-spacing: .1em
                    transition: all .4s
                    color: #ffffff
                .title-grid
                    font-size: 1.5em
                    color: #ffffff
                .link-grid
                    color: $s_color
                    opacity: 0
                    transition: all .4s
                    font-family: "Work Sans"
                    font-weight: 400
                    font-size: .9em
                    letter-spacing: .05em
                    &:hover
                        color: #fff
            &:hover .content-grid
                transform: translatey(0px)
            &:hover .link-grid
                opacity: 1
        &:hover img
            transform: scale(1.2)
    &.grid-second
        grid-template-columns: 1fr 1fr 1fr 1fr
        grid-gap: 1em
        .item:nth-child(1)
            grid-row: 1/3
            grid-column: 1/3
            height: 550px !important
            img
                height: 550px !important
        .item:nth-child(4)
            grid-column: 3/5
            grid-row: 2/4
            height: 550px !important
            img
                height: 550px !important
        .item:nth-child(1), .item:nth-child(4)
            .social-newslatter
                position: absolute
                bottom: 100px
                width: 100%
                display: flex
                justify-content: center
                transform: translateX(-500px)
                transition: all .5s linear
                a:hover
                    color: $s_color
            .gradient-grid
                align-items: center
                .content-grid
                    transition: all .5s linear
                    opacity: 0
                    transform: translateX(-500px)
                    text-align: center
                    .category-grid
                        display: none
                    .title-grid
                        font-weight: 400
                        text-align: center
                        font-size: 2.2em
                    .text-grid
                        color: #fff
                        margin-bottom: 1em
                    .link-grid
                        opacity: 1
            &:hover .content-grid
                transform: translateX(0px)
                opacity: 1
        .item
            height: 275px
            &:hover .social-newslatter
                transform: translateX(0px)
        .item:nth-child(2), .item:nth-child(3), .item:nth-child(5), .item:nth-child(6)
            transition: all .4s linear
            &:hover
                -webkit-box-shadow: 0px 0px 7px 3px rgba(0,0,0,0.24)
                -moz-box-shadow: 0px 0px 7px 3px rgba(0,0,0,0.24)
                box-shadow: 0px 0px 7px 3px rgba(0,0,0,0.24)
            img
                display: none
            .category-grid
                position: absolute
                background-color: $p_color
                color: #fff
                padding: .2em 1em
                border-radius: 50px
                transition: all .4s
                top: 10px
                left: 20px
                &:hover
                    background-color: $s_color
            .social-newslatter
                display: none
            .gradient-grid
                background: #fff
                .content-grid
                    .title-grid
                        color: rgba(0,0,0,.87)
                        font-weight: 400
                    .text-grid
                        font-weight: 300
                    .link-grid
                        color: $p_color
                        &:hover
                            color: $s_color
    &.category-grid
        margin-bottom: 3em
        grid-template-columns: 55% 1fr
        .item:nth-child(1)
            height: 550px
            grid-row: 1/3
            img
                height: 550px
            .title-grid
                font-size: 1.5em !important
        .item
            height: 273px
            .title-grid
                font-size: 1.2em !important

.target-grid
    position: relative
    display: flex !important
    -webkit-box-shadow: 0px 9px 8px -8px rgba(0,0,0,0.48)
    -moz-box-shadow: 0px 9px 8px -8px rgba(0,0,0,0.48)
    box-shadow: 0px 9px 8px -8px rgba(0,0,0,0.48)
    margin-bottom: .6em
    min-height: 210px !important
    transition: all .4s linear
    background-color: #fff
    border: none !important
    max-height: 210px
    &:hover
        -webkit-box-shadow: 0px 0px 20px -3px rgba(0,0,0,0.8)
        -moz-box-shadow: 0px 0px 20px -3px rgba(0,0,0,0.8)
        box-shadow: 0px 0px 20px -3px rgba(0,0,0,0.8)
    &:hover img
        transform: scale(1.2)
    &:hover .icon
        background-color: #7A4C99
        color: #fff
    .header
        position: absolute !important
        left: 37%
        top: 1.2em
        width: 100%
        z-index: 1
    .category
        background-color: #7A4C99
        padding: .35em .8em
        border-radius: 15px
        font-family: "Work Sans", ans-serif
        color: #fff
        text-decoration: none
        margin-right: .5em
        transition: all .4s linear
        z-index: 3
        &:hover
            background-color: rgba(0,0,0,.87)
    .date
        color: rgba(0,0,0,.87)
        text-decoration: none
        font-family: "Work Sans", ans-serif
        font-size: .9em
        i
            color: rgba(0,0,0,.38)
    .cont-post
        position: absolute
        top: 0
        left: 0
        background-color: rgba(255, 212, 18, .95)
        color: $p_color
        height: 110px
        width: 30px
        font-family: "Work Sans", sans-serif
        font-size: 1.7em
        display: flex
        justify-content: center
        align-items: center
        font-weight: 500
        z-index: 1
.link-target
    position: absolute
    width: 100%
    height: 100%
.img-target
    margin-right: 1.2em
    width: 35%
    overflow: hidden
    img
        width: 100%
        height: 100% !important
        object-fit: cover
        transition: all .4s linear
.content
    margin-top: 4.2em
    width: 60%
    padding-right: 2em
    .title-target
        font-weight: bold
        font-size: 1.4em
        margin-bottom: .8em
        color: rgba(0,0,0,.87)
    .description
        font-size: 1em
        color: rgba(0,0,0,.6)
.icon
    background-color: #EAEAEA
    max-width: 5%
    min-width: 5%
    display: flex
    align-items: center
    justify-content: center
    color: #7A4C99
    transition: all .4s linear
    text-decoration: none

/*Style Carousel Variado - Cont*/
.slider-vertical
    padding-bottom: 3em
    .slick-prev
        position: absolute
        bottom: 0
        left: 52%
        border: none
        border-top: 1px solid $p_color
        border-radius: 50%
        padding: .5em 1em
        background-color: #fff
        color: $p_color
        transition: all .4s linear
        &:hover
            background-color: $p_color
            color: #fff
    .slick-next
        position: absolute
        bottom: 0
        left: 43%
        border: none
        border-bottom: 1px solid $p_color
        border-radius: 50%
        padding: .5em 1em
        background-color: #fff
        color: $p_color
        transition: all .4s linear
        &:hover
            background-color: $p_color
            color: #fff

.car-columnistas
    &.car-columnistas-page
        .slick-list
            padding-left: 0px !important
    .column-item
        margin: 1em
        border-radius: 7px
        overflow: hidden
        box-shadow: 1px 0px 10px 0px rgba(0,0,0,0.23)
        text-align: center
        transition: all .4s
        &:hover .img-column
            transform: scale(1.05)
        &:hover
            box-shadow: 1px 0px 15px 0px rgba(0,0,0,0.33)
        .cont-img-column
            display: flex
            justify-content: center
            margin: 1.5em 0
        .img-column
            width: 200px
            height: 200px
            border-radius: 50%
            object-fit: cover
            overflow: hidden
            transition: all .4s linear
        .title-author
            font-family: "Work Sans", sans-serif
            font-weight: 400
            margin: 0
        .role
            font-family: "Work Sans", sans-serif
            font-weight: 300
            font-size: 1.2em
        .car-second
            margin-top: 2em
            background: #7A4C99
            position: relative
        .link
            position: absolute
            width: 100%
            height: 100%
            top: 0
            left: 0
            z-index: 1
        .item
            padding: 1em 1.5em
            display: flex !important
            text-align: left
            align-items: center
            overflow: hidden
            position: relative
            &:hover .title-notice
                color: $s_color
        .cont-img
            padding-right: 0
            img
                width: 55px
                height: 65px
                object-fit: cover
                border: 1px solid #fff
        .cont-text
            padding-left: 1em
            .title-notice
                font-family: "Work Sans", sans-serif
                font-size: 1.1em
                font-weight: 400
                color: #fff
                margin-top: .2em
                transition: all .4s linear
            .date
                color: #D8D8D8
                font-family: "Work Sans", sans-serif
                font-weight: 300
                font-size: .85em
                i
                    margin-right: .5em
    .slick-prev
        position: absolute
        top: 45%
        left: -80px
        border: none
        border-left: 1px solid #7A4C99
        border-radius: 50%
        padding: .7em 1em
        background-color: #fff
        color: #7A4C99
        transition: all .4s linear
        z-index: 2
        &:hover
            background-color: #7A4C99
            color: #fff
    .slick-next
        position: absolute
        top: 45%
        right: -80px
        border: none
        border-right: 1px solid #7A4C99
        border-radius: 50%
        padding: .7em 1em
        background-color: #fff
        color: #7A4C99
        transition: all .4s linear
        z-index: 2
        &:hover
            background-color: #7A4C99
            color: #fff
    &.car-columnistas-widget
        .img-column
            width: 150px
            height: 150px
        .title-author
            font-size: 1.2em
        .role
            font-size: .9em
        .car-second
            .cont-img
                img
                    width: 40px
                    height: 50px
            .title-notice
                font-size: .9em
/*Form Newsletter*/
.content-form-newsletter
    display: flex
    .form-group
        padding: .5em
        margin: 0
        .form-control
            background-color: transparent
            border: 1px solid #fff
            font-family: "Work Sans", sans-serif
            color: #fff
            margin: 0
            &::placeholder
                color: #fff
    .button-form
        padding: .5em .2em
        button
            background-color: $p_color
            border: 1px solid $p_color
            color: #fff
            height: 50px
            width: 50px
            transition: all .4s linear
            &:hover
                border-color: #fff
                background-color: transparent
.social-newslatter
    .nav-item
        .button-icon
            color: #fff
            transition: all .4s linear
            &:hover
                color: $p_color
            i
                font-size: 1.3em
/*Single Post*/
.post
    p
        font-family: "Work Sans", sans-serif !important
.sub-heading-section
    padding: 17em 3em 3em 3em !important
    background-position: top center !important
    h1
        font-size: 3.5em
    &.opacity-layer::before
        background: rgb(122,76,153)
        background: linear-gradient(0deg, rgba(122,76,153,1) 10%, rgba(60,58,105,0) 90%)
.breadcrumbs
    color: $p_color
    font-family: "Work Sans", sans-serif
    margin-bottom: 2em
    a
        color: $p_color
        transition: all .4s linear
        &:hover
            color: $s_color
    .post
        color: #3C4043
.share-date-bar
    padding: .3em .5em
    font-family: "Work Sans", sans-serif
    background-color: #F6F6F6
    margin-bottom: 3em
    .date-post
        padding-left: 1em
        i
            margin-right: .4em
        span
            margin-right: 1.5em
            color: rgba(0,0,0,.65)
    .share-links
        span
            color: rgba(0,0,0,.65)
        .nav-item
            a
                transition: all .4s
                &:hover
                    background-color: $p_color
            i
                color: #fff
        .facebook
            a
                background-color: #4064AD
        .twitter, .linkedin
            a
                background-color: #0271AE
        .pinterest
            a
                background-color: #E00022
        .mail
            a
                background-color: #B00020
.post-content
    padding-right: 0 !important
#wpb_widget-4, #wpb_widget_04-2, #wpb_widget_04-3, .sidebar-categories, .sidebar-podcast, .sidebar-single
    margin: 0
    padding: 0
    .widget
        margin-bottom: 2em
    .widget-title
        text-transform: uppercase
        position: relative
        padding-bottom: .7em
        margin-bottom: 1em
        font-size: 1.6em
        font-weight: 500
        &::before
            content: ''
            position: absolute
            background-color: $p_color
            width: 80px
            height: 3px
            bottom: 0
            left: 0
    .widget_wpb_widget_02
        border: 2px solid $p_color
        padding: 1em 1em
.widget_media_image
    margin-top: 2em
    border-top: 1px solid #D8D8D8
    padding-top: 2em
    img
        width: 100%
.author-link
    font-family: "Work Sans", sans-serif
    font-size: 1.1em
    color: rgba(0, 0, 0, .85)
    padding-bottom: 3em
    img
        border-radius: 50%
        width: 50px
        height: 50px
    .name
        color: $p_color
.art-relacionados
    margin-top: 4em
    h2
        font-size: 2em
        position: relative
        padding-left: 2.2em
        margin-bottom: 2em
        &::before
            content: ''
            position: absolute
            width: 55px
            height: 4px
            background-color: $p_color
            top: 50%
            left: 0
    .post-rel
        .img-cont
            width: 100%
            height: 180px
            overflow: hidden
            img
                width: 100%
                height: 100%
                object-fit: cover
                transition: all .4s linear
        h3
            font-size: 1em
            margin-top: 1em
            transition: all .4s linear
        .link-art
            overflow: hidden
            &:hover img
                transform: scale(1.2)
            &:hover h3
                color: $p_color
/*Widget Author*/
.post-sidebar
    border: 1px solid #D8D8D8
    display: flex
    position: relative
    margin-bottom: .7em
    align-items: center
    &:hover img
        transform: scale(1.1)
    &:hover h3
        color: $p_color !important
    &:hover .cont-content-post
        transform: translateY(0)
    &:hover .cont-content-post span
        opacity: 1
    .link-post-author
        position: absolute
        width: 100%
        height: 100%
        z-index: 1
    .cont-img-post
        width: 30%
        overflow: hidden
        img
            width: 100%
            height: 100px
            object-fit: cover
            transition: all .5s linear
    .cont-content-post
        transform: translateY(10px)
        width: 70%
        padding: .5em
        transition: all .5s linear
        h3
            font-size: .9em
            color: rgba(0,0,0,.85)
            transition: all .4s linear
        span
            font-family: "Work Sans", sans-serif
            font-size: .9em
            opacity: 0
            transition: all .5s linear
            color: $p_color
    &.popular-post
        background-color: #FAFAFA
        border: none
        -webkit-box-shadow: 0px 9px 8px -8px rgba(0,0,0,0.48)
        -moz-box-shadow: 0px 9px 8px -8px rgba(0,0,0,0.48)
        box-shadow: 0px 9px 8px -8px rgba(0,0,0,0.48)
        transition: all .4s linear
        &:hover
            -webkit-box-shadow: 0px 0px 10px -2px rgba(0,0,0,0.7)
            -moz-box-shadow: 0px 0px 10px -2px rgba(0,0,0,0.7)
            box-shadow: 0px 0px 10px -2px rgba(0,0,0,0.7)
        .count-post
            position: absolute
            left: 0
            background-color: rgba(255, 212, 18, .95)
            height: 100%
            width: 20px
            color: $p_color
            font-family: "Work Sans", sans-serif
            display: flex
            justify-content: center
            align-items: center
            font-weight: 500

// Footer
.top-footer
    .widget-title
        text-transform: uppercase
    .menu
        padding: 0
        list-style: none
        .nav-link
            padding-left: 0
            &:hover
                padding-left: 4px
    .widget_media_image
        border: none
        margin: 0
        padding: 0
        img
            width: 60%
    a
        color: $s_color
        transition: all .4s linear
        &:hover
            color: $p_color
.bottom-footer
    .social-nav
        .float-link
            background-color: #fff
            border: none
            color: rgba(0,0,0,.38)
        .button-icon
            border-radius: 50%
    .privacity
        a
            color: $s_color
            transition: all .4s linear
            &:hover
                color: $p_color

//Post
.nav-links
    .nav-previous, .nav-next
        max-width: 40%

.breadcrumbs
    .current-item
        color: #959595

//Category
.entry-category
    h1
        font-size: 2.5em
    .divider-subheader
        border: 1px solid #cccccc
        margin: 2em 0
        opacity: .3

//Pagination
.pagination-custom
    padding: 1em
    display: flex
    flex-flow: row wrap
    justify-content: center
    .page-numbers
        margin: .5em
        font-family: 'Work Sans', sans-serif
        color: #252525
        transition: all .3s
        &.current, &:hover
            transform: scale(1.05)
            color: #7A4C99
// Page Authors
.sub-heading-section-autors
    background-image: url('http://localhost/revista-liga/wp-content/uploads/2020/06/Rectangle-72-1.png')
    padding: 5em 2em 7em 2em
    position: relative
    background-attachment: fixed
    &::after
        content: ''
        position: absolute
        width: 100%
        height: 100%
        top: 0
        left: 0
        background-color: rgba(0, 0, 0, .5)
    .info-author
        position: relative
        align-items: center
        width: 60%
        margin: auto
        z-index: 1
        .img-profile
            width: 40%
            img
                border-radius: 50%
                width: 280px
                height: 280px
                border: 3px solid #fff
        .text-author
            width: 60%
            h3
                color: #fff
                font-weight: 300
            p
                color: #fff
            .social-links
                margin-top: 1.5em
                list-style: none
                padding: 0
                li
                    margin-right: 1em
                    i
                        color: rgba(255, 212, 18, .8)
                        font-size: 2em
                        transition: all .4s linear
                        &:hover
                            color: $p_color
.cont-author
    .target-grid
        padding: 0 !important
        max-width: 49% !important
        margin: .5%
    .title-line-one
        padding-left: 2.5em
        margin-bottom: 1.5em
        &::before
            top: 15px

/*Category*/
.content-category
    .post-filters-cont
        background-color: #F2F2F2
        padding: 1em
        margin-bottom: 3em
        display: flex
        justify-content: space-between
        font-family: 'Work Sans', sans-serif
        .post-filters
            select
                height: 30px
                border-radius: 5px
                border: 1px solid rgba(0, 0, 0, .32)
                color: rgba(0, 0, 0, .6)
                padding: 0 .5em
                margin-right: .5em
        .btn-filter
            background-color: $p_color
            color: #fff
            border: 1px solid $p_color
            border-radius: 5px
            height: 30px
/*Autor*/
.content-autor
    .post-filters-cont
        background-color: #F2F2F2
        padding: 1em
        margin-bottom: 3em
        display: flex
        justify-content: space-between
        font-family: 'Work Sans', sans-serif
        .post-filters
            select
                height: 30px
                border-radius: 5px
                border: 1px solid rgba(0, 0, 0, .32)
                color: rgba(0, 0, 0, .6)
                padding: 0 .5em
                margin-right: .5em
        .btn-filter
            background-color: $p_color
            color: #fff
            border: 1px solid $p_color
            border-radius: 5px
            height: 30px
/*Submenu*/
.item-submenu
    position: absolute
    z-index: 3
    padding: 3em
    background-color: rgba(0, 0, 0, .93)
    opacity: 1
    display: none
    .art-relacionados
        margin-top: 0
        .title-item
            color: #fff
        .link-art:hover .title-item
            color: $s_color
        .item
            position: relative
        .menu-category
            background-color: $p_color
            color: #fff
            border-radius: 20px
            padding: .05em 1em
            position: absolute
            top: 10px
            z-index: 2
            font-family: 'Work Sans', sans-serif
            font-size: .85em
            left: 25px
            transition: all .4s linear
            &:hover
                background-color: $s_color
                color: $p_color
/*Widget Categories*/
.widget-img-cat
    width: 100%
    overflow: hidden
    position: relative
    height: 180px
    display: inline-block
    margin-bottom: .5em
    img
        height: 180px
        width: 100%
        object-fit: cover
        transition: all .4s
    &:hover img
        transform: scale(1.1)
    .link-category
        position: absolute
        width: 100%
        height: 180px
        display: flex
        justify-content: center
        align-items: center
        color: #fff
        top: 0
        left: 0
        background-color: (rgba(0, 0, 0, .5))
        font-family: 'Work Sans', sans-serif
        text-transform: uppercase
        font-size: 1.5em
        font-weight: 700
        transition: all .4s
        &:hover
            color: $s_color
/*Edition*/
.edition-post
    padding-top: 2.5em
    padding-bottom: 5em
    .title-edition
        font-size: 3em
        border-bottom: 1px solid #D8D8D8
        padding-bottom: .5em
    .share-date-bar
        margin-top: 2em
    .edition-oters
        margin-top: 4em
        .title-line-one
            padding-left: 2.7em
            &::before
                top: 40%
        .loop-edition
            margin-top: 2em
            display: flex
            .item-edition
                padding: .5em
                width: 12.5%
                overflow: hidden
                &:hover img
                    transform: scale(1.1)
                img
                    width: 100%
                    height: 120px
                    object-fit: cover
                    transition: all .4s linear
// Menu Principal
.sticky-header
    z-index: 3 !important
// Taxonomy Edition
.taxonomy-edition
    padding: .5em
    .cont
        -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.39)
        -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.39)
        box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.39)
        height: 100%
    .img-target
        width: 100%
        height: 250px
        overflow: hidden
        img
            width: 100%
            height: 100%
            object-fit: cover
            transition: all .4s linear
    .link-target
        z-index: 1
    &:hover img
        transform: scale(1.1)
    &:hover h4
        color: $p_color
    h4
        transition: all .4s linear
    .content
        margin-top: 1em
        text-align: center
        width: 100%
        padding: .5em
.edition-footer
    a
        margin-bottom: 1em
    .item-edition
        img
            width: 100%
            height: 140px
            object-fit: cover
        span
            display: block
            text-align: center
            font-family: 'Work Sans', sans-serif
            color: #ffffff
            transition: all .4s linear
        &:hover span
            color: $s_color

// Modals
.modal-form
    background-color: rgba(0,0,0,.65)
    .modal-dialog
        max-width: 400px !important
        .modal-body
            padding: 0 !important
        .modal-content
            background-color: transparent
            p
                color: #fff
                margin-bottom: 2em
            .form-control
                height: 55px
                font-family: 'Work Sans', sans-serif
                padding: 0 .8em
            .cont-button
                text-align: right
                .button-modal-form
                    background-color: $p_color
                    color: #ffffff
                    border: none
                    transition: all .4s linerar
                    border-radius: 7px
                    padding: .9em 2em
                    &:hover
                        background-color: $s_color
                span
                    display: block
.comunidad-form
    background-color: rgba(0,0,0,.65)
    .modal-dialog
        max-width: 650px !important
#modalSearch
    .form-control
        border-radius: 5px !important
    .button-master
        margin-left: .4em !important
        background-color: $p_color
        color: #fff
        transition: all .4s
        border-radius: 5px
        &:hover
            background-color: $s_color
            border-color: $s_color
// Comunidad Liga
.bottom-header
    .menu-item-344
        background-color: $p_color
        border-radius: 7px
        transition: all .4s linear
        margin-right: .5em
        &:hover
            background-color: $s_color
        a
            color: #fff !important
.sticky-header
    .menu-item-344
        background-color: $s_color
        &:hover
            background-color: $p_color
.comunidad-button
    background-color: $p_color
    padding: .7em 2em
    color: #ffffff
    border-radius: 7px
    transition: all .4s linear
    border: none
    font-family: 'Work Sans', sans-serif
    &:hover
        background-color: $s_color
// Archive
.widget_archive
    ul
        list-style: none
        padding: 0
        a
            font-family: 'Work Sans', sans-serif
            color: rgba(0,0,0,.85)
            font-weight: 500
            text-transform: capitalize
            transition: all .4s linear
            &:hover
                color: $p_color
            i
                color: $p_color
                margin-right: .5em
// Nosotros Page
.nosotros-page
    .title-line-tres
        &::after
            left: 34%
        &::before
            right: 34%
.move-section
    a
        color: $p_color
        font-size: 1.2em
        border-bottom: 1px solid $p_color
        border-radius: 50%
        width: 40px
        height: 40px
        display: inline-block
        transition: all .4s linear
        &:hover
            color: $s_color
            border-color: $s_color
#history-section
    .elementor-tabs-wrapper
        display: table
        width: 100%
        .elementor-tab-title
            text-align: center
            border: none
            &::after, &::before
                border: none
            &.elementor-active
                border-bottom: 2px solid $p_color
                color: $p_color
    .elementor-tab-content
        border: none
        padding: 2em 0
        .table-history
            position: relative
            img
                width: 100%
            p
                position: absolute
                top: 40%
                width: 100%
                text-align: center
                padding: 2em
                color: #fff
// Cookies
.cookie-notice-container
    font-family: 'Work Sans', sans-serif
    .cn-button, .cn-close-icon
        background-color: $p_color
        transition: all .4s linear
        opacity: 1
        &:hover
            background-color: $s_color
@media (min-width: 768px) and (max-width: 1440px)
    .target-grid
        .header
            max-width: 325px
// RESPONSIVE MOVIL
@media (max-width: 767.98px)
    .title-line-one
        padding-left: 3.2em
        &::before
            width: 40px
    .menu-item a i
        display: none
    .contenedor-grid
        display: block
        .principal-item
            margin-bottom: .5em
            height: 250px !important
            img
                height: 250px !important
        .item
            margin-bottom: .5em
            height: 250px !important
            .gradient-grid
                .content-grid
                    transform: translatex(0px)
                    .link-grid
                        opacity: 1
    .target-grid
        margin: 1em .5em 0 .5em
        max-height: 600px
        .header
            left: 10px
            top: 15px
            .date
                background-color: rgba(0,0,0,.83)
                color: #ffffff
                padding: .5em 1em
                border-radius: 20px
                i
                    color: #fff
        .img-target
            width: 70%
            height: 135px
            margin-right: 1em !important
            img
                width: 100%
                height: 100%
                object-fit: cover
        .content
            width: 100%
            padding: 1em 1em 1em 0
            margin-top: 1em
            height: 120px
            .title-target
                font-size: 1em
        .icon
            max-width: 100%
            background-color: $p_color
            color: #ffffff
        .cont-post
            top: 95px
            height: 40px
            width: 40px
    .slider-vertical
        .slick-next
            left: 55%
            bottom: -1em
            transform: rotate(-89deg)
        .slick-prev
            left: 35%
            bottom: -1em
            transform: rotate(-89deg)
    .car-columnistas
        .column-item
            margin: .5em
    .title-line-tres
        &::before, &::after
            content: none
    .contenedor-grid.grid-second .item:nth-child(1) .content-grid, .contenedor-grid.grid-second .item:nth-child(4) .content-grid
        transform: translatex(0) !important
        opacity: 1 !important
    .contenedor-grid.grid-second .item .social-newslatter
        transform: translatex(0) !important
    .contenedor-grid.grid-second .item:nth-child(2), .contenedor-grid.grid-second .item:nth-child(3), .contenedor-grid.grid-second .item:nth-child(5), .contenedor-grid.grid-second .item:nth-child(6)
        -webkit-box-shadow: 0px 0px 7px 3px rgba(0, 0, 0, 0.24)
        -moz-box-shadow: 0px 0px 7px 3px rgba(0, 0, 0, 0.24)
        box-shadow: 0px 0px 7px 3px rgba(0, 0, 0, 0.24)
        margin: 1em 0
    .top-footer #media_image-3 img
        width: 80%
    .float-buttons .nav-item .float-link
        background-color: #ffffff
        border: none
        -webkit-box-shadow: 0px 0px 12px -1px rgba(0,0,0,0.26)
        -moz-box-shadow: 0px 0px 12px -1px rgba(0,0,0,0.26)
        box-shadow: 0px 0px 12px -1px rgba(0,0,0,0.26)
    .bottom-footer .social-nav
        margin-top: 1em
        justify-content: center !important
    .box-menu-nav-mobile
        background-color: $p_color !important
        padding: 0 !important
        .box-logo
            background-color: #ffffff !important
            width: 100% !important
            padding: 2em !important
        .box-menu-nav
            padding: 2em !important
            .nav-link
                color: #ffffff
                font-family: 'Work Sans', sans-serif
    .box-menu-nav-mobile .menu-item:nth-child(8)
        border: none
    .content-form-newsletter
        display: block
        .button-form
            padding: .5em
            button
                width: 100%
    .post-filters-cont
        display: block !important
        .results
            padding-bottom: .5em
            text-align: center
            border-bottom: 1px solid #b5b5b5
        .post-filters
            margin-top: 1em
            select
                width: 100%
                height: 40px !important
                margin-bottom: 1em
            .btn-filter
                width: 100%
                height: 40px !important
    .sub-heading-section
        padding: 15em 1em 2em 1em !important
        h1
            font-size: 2em
    .share-date-bar.d-flex
        padding: 1em
        display: block !important
        .share-links.d-flex
            border-top: 1px solid #b5b5b5
            padding-top: .5em
            display: block !important
        span
            display: block
            text-align: center
    .post-sidebar
        margin-right: 0 !important
    .fb-comments iframe
        margin: 2em 0
    .bar-second
        .share-links
            border: none
            display: block !important
            ul
                display: flex
                justify-content: center
        span
            text-align: center
            display: block
    .sub-heading-section-autors
        .info-author
            display: block !important
            width: 100%
            .img-profile
                width: 100%
                text-align: center
            .text-author
                width: 100%
                margin-top: 1em
                text-align: center
                .social-links
                    justify-content: center
    .cont-author
        .target-grid.col-md-6
            max-width: 95% !important
            margin: auto
            margin-bottom: 1em
    .bottom-footer
        .links-footer
            margin-bottom: 1em
        .privacity
            margin: 1em 0
    #history-section
        .elementor-tabs-content-wrapper:nth-child(2) .elementor-tab-title
            display: none
        .table-history
            p
                top: 10% !important
